.small-row
  .large-12.columns
    .signup-panel
      %p.welcome Edit Your Profile
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .row.collapse
          .small-12.columns
            = f.email_field :email, placeholder: 'Email', autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .row.collapse
          .small-12.columns
            = f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)"
        .row.collapse
          .small-12.columns
            = f.text_field :name, placeholder: 'Name'
        .row.collapse
          .small-12.columns
            = f.text_field :location, placeholder: 'Zip Code'
        .row.collapse
          .small-12.columns
            = f.text_area :blurb, placeholder: 'Tell others about you! (Or skip for later)', id: 'blurb'
        .row.collapse
          .small-12.columns.select
            = f.select :gender, User::GENDERS, include_blank: 'Gender', disabled: 'Gender', id: 'gender'
        .row.collapse
          .small-12.columns.select
            = f.select :language_list, options_for_select(User::LANGUAGES), { include_blank: 'Languages I speak' }, { multiple: true, size: 7 }
        .row.collapse
          .small-12.columns.select
            = f.select :learning_list, options_for_select(User::LANGUAGES), { include_blank: 'Languages I want to learn' }, { multiple: true, size: 7 }
        .row.collapse
          .small-12.columns
            = f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password (Needed to confirm changes)'
        .row.collapse
          .small-12.columns
        = f.submit "Update", class: 'button'
      %p
  = render "devise/shared/links"

  %hr.betterhr

  #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button'}
  = link_to "Back", :back
