.nav-bar
  %ul.pricing-table.no-bullet
    %li.title
      = link_to 'Home', root_path, class: 'nav-link'
    - if current_user
      %li.title
        = link_to 'My Profile', home_path(current_user), class: 'nav-link'
      %li.title
        = link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link'
      %li.title
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
    - else
      %li.title
        = link_to 'Login', new_user_session_path, class: 'nav-link'