.small-row

  .large-12.columns
    .signup-panel
      %p.welcome Hello and welcome to Snack!
      %p.medium-text
        Snack is the Swedish word for a little chat, and that's exactly what Snack is all about. Find some friends and start learning a new language, or improve on one you've already started.
      %p
        Why not
        = link_to 'Find Some Friends', matches_path, class: 'button'
        or
        = link_to 'Search for Events', '#', class: 'button'
        ?

  %p
    .top-space
      And if you're feeling very sassy, you might say hello to me on the
      = link_to 'Twitters', 'http://www.twitter.com/@heyamberwilkie'

  %div#mapid

= javascript_tag do
  window.users = '#{@users}';


:javascript
  var mymap = L.map('mapid').setView([57.71, 11.97], 12);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.outdoors',
    accessToken: 'pk.eyJ1IjoiYXF1YWFtYmVyIiwiYSI6ImNpejVreGVxNzAwNTEyeXBnbWc5eXNlcTYifQ.ah37yE5P2LH9LVzNelgymQ'
  }).addTo(mymap);
  gon.users.forEach(function(user) {
    console.log('uhhhh')
    L.marker([user.latitude, user.longitude]).addTo(mymap);
  })
