.row
  .medium-4.column.profile-image
    %i.fa.fa-user.profile-default-image
    - unless current_user == @user
      .social-links.signup-panel
        - if current_user.friends.include?(@user)
          = link_to 'Message', conversation_messages_path(@conversation)
        - else
          =form_tag friendships_path, method: :post, remote: true do
            = hidden_field_tag 'id', params[:id]
            - unless current_user.friends.include?(@user)
              = submit_tag 'Friend', class: 'button', id: 'friend_button'

  .medium-8.column.left
    %h1.profile
      = @user.name
    .language-box
      - unless @user.language_list.empty?
        .languages.padding-5
          - @user.language_list.each do |language|
            %span.primary.label.medium-font
              = language
      - unless @user.learning_list.empty?
        .learnings.padding-5
          - @user.learning_list.each do |learning|
            %span.label.success.medium-font
              = learning
    %p
      = @user.blurb
  - if current_user == @user && (current_user.friends.any? || current_user.requested_friends.any? || current_user.pending_friends.any?)
    %hr.betterhr
    .friends-scroll.columns
      .medium-8.column
        %h2 My Friends
        - if current_user.friends.empty?
          You haven't made any connections yet. Try searching for friends!
        - else
          - current_user.friends.each do |friend|
            = link_to friend.name, user_path(friend)
      .medium-4.column
        %h2 New Friends?
        - current_user.requested_friends.each do |friend|
          %div{id:"friend_#{friend.id}"}
            .columns
              .medium-6.column
                = link_to friend.name, user_path(friend)
              .medium-6.column
                =form_tag confirm_friendship_path, method: :post, remote: true do
                  = hidden_field_tag 'id', friend.id
                  = submit_tag 'Be friends!', class: 'button', id: 'confirm_button'
              %hr.betterhr

:javascript
  $(document).ready( function() {
    function friendButton() {
      $('#friend_button')[0].defaultValue = 'Requested'
    }
    const friend_button = document.querySelector('#friend_button');
    if (friend_button != undefined) {
      friend_button.addEventListener('click', friendButton);
    }

    function confirmFriend() {
    console.log('working?');
      this.defaultValue = 'Done!'
    }

    const confirm_buttons = document.querySelectorAll('#confirm_button');
    console.log(confirm_buttons);
    confirm_buttons.forEach(button => function() {
      button.addEventListener('click', confirmFriend)
    })
  })