.small-row
  .large-12.columns
    .signup-panel
      %p.welcome Log in to Snack
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = devise_error_messages!
        .row.collapse
          .small-12.columns
            =f.email_field :email, autofocus: true, placeholder: 'Email'
        .row.collapse
          .small-12.columns
            =f.password_field :password, autocomplete: 'off', placeholder: 'Password'
        %div
          = f.label :remember_me, class:'remember-box'
          = f.check_box :remember_me, class:'remember-box'
        =f.submit 'Login', class: 'button'
  = render "devise/shared/links"

